@page
@model StudentEnrolmentWebApp.Pages.Shared.LoginFormModel
@{
    <form method="post">
        <div class="form-group">
            <label for="UserName">Username:</label>
            <input type="text" id="UserName" name="UserName" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="Password">Password:</label>
            <input type="text" id="Password" name="Password" class="form-control" required>
        </div>
    </form>
}
