@page
@model LoginFormModel
@{

 <!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
</head>
<body>
    <h2>Login Form</h2>

    <form method="post">
        <div class="form-group">
            <label for="UserName">Username:</label>
            <input type="text" id="UserName" name="UserName" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="Password">Password:</label>
            <input type="text" id="Password" name="Password" class="form-control" required>
        </div>

            <br>

            <input type="submit" value="Login">

            <!-- Link to the registration page -->
            <p>Don't have an account? <a href="./Register">Register here</a></p>

    </form>
</body>
</html>
}
